
.review-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 20px;
}

@media screen and (max-width:540px) {
    
    .review-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}