
.product-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 100px 100px;
}

.hading-container h1, p{
    text-align: justify;
}

.image-container{
    margin-left: auto;
}

.image-container img{
    width: 350px;
}

.home-review{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 20px 90px;
}

.demo-btn{
    justify-content: start;
}

@media screen and (max-width:540px) {
    .product-container{
        display: block;
        margin: auto;
        padding-left: 23px;
    }

    .image-container{
        margin-top: 50px;
    }

    .home-review{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        margin: 20px;
    }
}