
.chart-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}

@media screen and (max-width:540px) {
    
    .chart-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
}